{% include 'top.html' %}
            <div class="page-header">
                <h1>{{ page.title }}</h1>
            </div>
            <div class="row">
               <div class="col-sm-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">Bins</h1>
                        </div>
                        <div class="panel-body">
                           <center>
                                <h2>{{ page.bins }}</h2>
                           </center>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">Users</h1>
                        </div>
                        <div class="panel-body">
                            <center>
                                <h2>{{ page.users }}</h2>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>