{% include 'top.html' %}
            <div class="page-header">
                <h1>{{ page.title }}</h1>
            </div>
            
            <table class="table">
                <thead><tr><th>Name</th><th>Email</th><th>Rubbish Thrown</th></tr></thead>
                <tbody>
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>